.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
}
.table-row-cell:hover {
    -fx-background-color: #00a7d5;
}

.table-view .cell{
    -fx-border-insets: 10 5 10 10;
    -fx-border-width: 5 2px 6px 0;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-padding: 0.0em;
}
.table-view .filler {
    -fx-border-insets: 20;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}